.item-title{
  height:40px;
  margin-left:20px;
  margin-right:20px;
}

.power-bottom{
  margin-top: 30px;
  margin-left: 20px;
}

.search-btn{
  float: right;
  width: 25%;
}

.depart{
  float: left;
  width:25%;
  border: #908d8d 2px solid;
}

.lef{
  float: left;
  width: 50%;
}

.rig{
  float: left;  
}

.unsel-btn{
  margin: '10px' 
}

.sel-btn{
  background-color: darkgray;
  margin: '10px' 
}

.powerbar{
  border: #908d8d 2px solid;
  margin:10px;
}