.item{ overflow: hidden;
}
.img{
    height:180px;
    width:180px;
    margin:5px;
    text-align: center;
}

.avatar{
    height:40px;
    width:40px;
}

.comments{
    width:400px;
    float: left;
    height: 300px;
}

.left-comments{
    float: left;
    width:800px;
    height: 300px;
    border: #908d8d 2px solid;
    margin-left:50px;
}

.comments-item{
    border: #908d8d 1px solid;
    height: 60px;
}
.student-item{
    border: #908d8d 1px solid;
    height: 290px;
}

.fail-text{
    color: red;
}

.comments button{
float: right;    
}

.left-float-style{
    float: left;
}

.center-text{
    float:left;
    width: 600px;
}

.ant-carousel .slick-slide {
    text-align: center;
    overflow: hidden;
    background: #b5ccf7;
}

.ant-carousel .slick-slide img{
    display: inline;
}