.mask{ 
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(0, 0, 0, .6);
    transition: opacity .3s ease-in;
}

.showMask{
    opacity: 1;
    transform: translateY(0);
}

.hideMask {
    opacity: 0;
    transform: translateY(100%);
}

.btn{
    background-color:  #fff;
    text-align: center;
    padding: 12px 10px;
}

.menu{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EFEFF4;
    z-index: 100;
    color: #000;
    font-size:17px;
    transition: transform .3s ease-in;
    transform: translateY(100%);
}

.showMenu{
    transform: translateY(0);
}

.title{
    background-color: #fff;
    padding: 20px 10px;
    text-align: center;
    font-size: 14px;    
    color: #a1a1a1;
}

.cancel{
    position: relative;
    margin-top:5px; 
}

.divider {
    position: relative;
}

.divider:after {
    position: absolute;
    content: '';
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e5e5e5;
    transform: scaleY(0.5)
}

.menu2{
    margin-top: 100px;
    bottom: 0;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #EFEFF4;
    z-index: 100;
    color: #000;
    font-size: 17px;
}

.showMenu2{
    transform: translateY(0)    
}