.header{
overflow: hidden;
margin-left:40px;
margin-top:30px;
}

.ava{
 float:left;
}

.lft{
 float:left;
 margin-left:20px;
}

.cnt{
 float:left;
 margin-left:40px;
}

.rig{
 float:left;
 margin-left:40px;
}

.rig p{
    display: inline; 
}

.rig input{
    width:150px;
}

.fin-p{
    margin-right: 20px;
}