.Items{
    margin-top:10px;
    margin-bottom: 20px;
}

.ItemTitle{
display: inline;
}

.ItemButton {
    position: absolute;
    width: 54%;
    margin-left: 0px;
    right: 0;
    margin-top: -34px;
} 

.ItemButton button{
    border-radius: 50%;
    height:20px;
    zoom: 1.5;
    margin: 10px;   
    border:5px;
}

