.user-info-wrapper {
  display: flex;
  padding: 20px;
}

.user-info {
  flex: 1;
  padding: 10px;
}
.user-avatar {
  width: 100px;
  height: 100px;
}
.user-nick {
  font-size: 20px;
  color: purple
}
.basic-info-list {
  overflow: hidden;
}
.basic-info-item {
  width: 400px;
  float: left;
}