.dialog{
    margin-left: 60px;
    margin-right: 60px;
    background-color: #EFEFF4;
    z-index: 100;
    color: #000;
    font-size: 17px;
    transform: translate(-200%,-100%);
}

.showDialog{
    transform: translateY(0);
}

.divider {
    position: relative;
}

.divider:after {
    position: absolute;
    content: '';
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e5e5e5;
    transform: scaleY(0.5)
}

.title{
    background-color: #fff;
    padding: 20px 10px;
    text-align: center;
    font-size: 14px;    
    color: #383535;

}


.divider {
    position: relative;
}

.divider:after {
    position: absolute;
    content: '';
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e5e5e5;
    transform: scaleY(0.5)
}

.ok{
    color: #09BB07;
}