
* {
  margin: 0px;
}
.coping{
height:1.75em;
}
.head {
  background-color: #00a6ac;
  position: fixed;
  width: 100%;
  height: 1.75em;
}

.addMsg img{
  position:fixed;
  height:1.75em;
  top:-1px;
  right:0;
}
h3 {
  margin-top: 0.25em;
  text-align: center;
}

html,
body {
  position: relative;
  height: 100%;
  padding: 0px;
  background-color: #afdfe4;
}

.top img {
  margin-top: 7px;
  margin-left:5px;
  margin-bottom: 3px;
}

.left {
  float: left;
}

.text {
  float: right;
  margin-top: 5px;
}

.time {
  font-size: x-small;
  float: right;
  margin: 20px 20px 10px 10px;
}

.end {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 4.5em;
  background-color: #76becc;
  border-top : #908d8d  2px solid;
}

.end::after {
  content: " ";
  display: block;
  clear: both;
}

ol {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  border: 5px;
}

h1 {
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 10px;
  margin-top: 5px;
}

h2 {
  font-family: Georgia, serif;
  font-size: 16px;
  text-align: left;
}

p {
  font-family: Georgia, serif;
  font-size: 8px;
  margin-top: 5px;
}

.item::after {
  content: " ";
  display: block;
  clear: both;
}

.bottom::after {
  content: " ";
  display: block;
  clear: both;
}

.bottom img {
  display: block;
  width: 51%;
  height: 10%;
  margin-top: 5px;
}

.button{
  width: 20%;
  float: left;
  margin-left: 4%;
  margin-top:6px;
}

.button img{
  width: 50%;
  height: 100%; 

}

.ending{
  height:4.3em;
}

.top img{
  width:60px;
  height:60px;
}

.dialog{
  z-index: 999;
  position: fixed;
  top:0;
  height: 100%;
  display: flex;
  flex-direction:column
}

.item button{
  position: absolute;
  right:25px;
  margin-top: 43px;
}

.menu button{
  margin-top:50px;
  background-color: white;
  border:0;
  height:3em;
}

.deleteButton button{
  zoom: 1.5;
  position: absolute;
  left:20%;
}

.item{
  border-bottom: #908d8d 2px solid;
}