.App {
  text-align: center;
}

/* .add-btn img{
  height:60px;
  width: 60px;
  position: absolute;
  right:0;
} */
.body{
margin: 0;
height: 100%;
}
html,body{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin:0px;
  overflow: hidden;
}